/*==========  Desktop First  ==========*/

// /* Large Devices, Wide Screens */
// @media (max-width : 1200px)
// /* Medium Devices, Desktops */
@media (max-width : 992px)
    .footer__container
        flex-direction: column;
        align-items: center;
        padding: 60px 0 30px 0
    .footer__item:nth-child(1)
        margin-right 0
        margin-bottom 40px
    .footer__item:nth-child(2)
        margin-right 0
        margin-bottom 40px
    .footer__item
        display flex
        flex-direction: column
        align-items: center
    .footer__desc
        text-align center
        max-width: 321px
    .footer__list
        display flex
        flex-direction: column
        align-items: center
    .footer__item.footer__item:nth-child(3) > .footer__title
        margin-bottom 0
    .footer__social
        margin-bottom 40px
    .footer__copyright
        text-align center
    
// /* Small Devices, Tablets */
@media (max-width : 768px)
    .community__container
        margin-top 750px
    .community__item
        position absolute
        padding: 150px 0 50px
        left: 50%;
        transform: translateX(-50%);
    .community__item-title
        font-size 40px
        &-span
            font-size 30px
    .start__item-title
        font-size 40px
        line-height 55px
    .mobile__container-bottom
        max-width: 530px
    .start__item-outer
        height 430px
    .start__item-abs-4
        top: 82%
    .conversation__pic-1
        position absolute
        top: 20px;
        left: 160px;
    .conversation__pic-2
        position absolute
        top: 110px;
        left: 262px;
    .conversation__pic-3
        position absolute
        top: 283px;
        left: 304px;
    .conversation__pic-4
        position absolute
        top: 317px;
        left: 52px;
    .community__team:nth-child(5):after 
        top: -50%;
        left: -60%;
    .community__team:nth-child(1):after 
        top: -50%;
        left: -140%;
    .hero__pic-1
        left: 150px
    .hero__pic-2
        left: -7px
        
    .hero__pic-3
        left: 110px

    .hero__pic
        left: -50px;


    .hero__title 
        font-size: 70px;
        line-height: 70px;

    .corp__title 
        font-size: 50px;
        line-height: 60px;
    .conversation__container
        flex-direction: column-reverse;
        align-items: center;
    .conversation__title 
        text-align center
        font-size 50px
        line-height 60px
        max-width: 475px
    .conversation__desc
        text-align center
    .conversation__left
        margin-top 460px
        display: flex;
        flex-direction: column;
        align-items: center;
    .light__bottom-line
        margin: 40px auto 62px
    .conversation__pic 
        width: 500px;
        position: absolute;
        top: -50px;
        left: -50px;
    .start 
        margin-top: 60px;
        margin-bottom: 100px;

    .community__crown 
        padding: 42px 30px 30px 30px
        max-width: 315px;
        margin: 80px auto 0;
        background-image url(../img/main/background-phone.svg)
        background-repeat: no-repeat
        background-size: 100% 100%
        position relative
    .community__crown-desc
        font-size: 16px;
        line-height: 24px;
        text-align: center;

    .community__crown-pic 
        top: -17%;
        width: 70px;
    .community__pic 
        margin: 0 auto 61px;
        padding-right: 10px;
    .community__arrow
        margin: 30px auto 40px
    .community__container-bottom
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom 80px
    .community__pic-right
        margin-bottom 40px
        position: static
    .feedback__desc, .feedback__name
        font-size 16px
        line-height 26px
    .feedback__item
        width: 300px



// /* Small Devices, Tablets */
@media (max-width : 568px)
    .community__item
        &-desc
            font-size 18px
            max-width: 90vw
        &-title
            line-height 50px
            max-width: 90vw
            margin: 0 auto 30px
    .start__item-title
        font-size: 35px;
        line-height: 45px;
        margin-bottom 20px
    .header__menu-span
        display none
    .wrapper
        padding: 0 15px
    .header--active
        .header__menu
            margin-right: -15px
        .header__logo
            margin-left: -15px
// /* Small Devices, Tablets */
@media (max-width : 480px)
    .community__container
        margin-top 500px
    .community__item
        width: 450px
        height: 450px
    .mobile__email
        margin-top 10px
        margin-bottom 15px
    .mobile__right
        margin-top 50px
    .mobile__list
        margin-top 25px
    .mobile__list-item
        margin-bottom 20px
    .mobile__social
        justify-content: center
    .mobile__title, .mobile__list-item
        text-align center
    .mobile__container-bottom
        margin: 60px auto 0
    .mobile
        padding-top 30px
    .mobile__container-bottom
        flex-direction: column
        align-items: center
    .social__pic-inner
        animation: none
    .start__item-outer
        height 310px
    .hero__button
        animation: none !important
    .community__item
        &-title
            font-size: 24px;
            line-height: 34px;
            margin-bottom 10px
            max-width: 300px
            margin 0 auto 10px
            &-span
                font-size 30px
        &-desc
            font-size: 16px;
            line-height: 26px;
            max-width: 300px

        &-abs-pic-1
            top: -7%
            left: 18%
            width: 200px
        &-abs-pic-2
            top: 0%
            left: 66%
            width: 141px
        &-abs-pic-3
            top: 22%
            left: 12%
            width: 61px
        &-abs-pic-4
            width: 46px
            top: 5%
            left: 55%
        &-abs-pic-5
            bottom: -11%
            left: 75%
            
            

    .start
        margin-top 50px
        margin-bottom 60px
        &__item
            padding: 82px 0 85px
            max-width: 971px
            margin: auto
            border-radius: 60px
            text-align: center;
            color: #FFFFFF;
            background: url(../img/main/start-bg.svg) center center no-repeat #113F6D;
            position relative
            &-span
                color: #53C0E2
            &-title
                font-size: 24px;
                line-height: 30px;
                position relative
                padding-top 34px
                min-width: 284px
                margin: auto
                &:before
                    content: ""
                    position absolute
                    top: 0
                    left 50%
                    transform: translateX(-50%)
                    display block
                    width: 24px
                    height: 24px
                    background: url(../img/main/lock.svg)
            &-desc
                font-size: 16px;
                line-height: 26px;
                text-align: center;
                color: #FFFFFF;
                padding-left 0
                position relative
                max-width: 510px
                margin: 10px auto 0
                max-width: 262px
                &:before
                    display none
        &__item-abs-1
            font-size: 10.3574px;
            line-height: 14px       
            top: 5%
            left 8%
            max-width: 132px
            padding: 8px 15px
            transform: rotate(-3deg)
            z-index 2
            p
                font-size: 7.96723px;
                line-height: 12px;
        &__item-abs-2
            font-size: 10.0911px;
            line-height: 14px;
            top: -5%
            left 30%
            max-width: 156px
            padding: 8px 19px
            transform: rotate(7deg)
            text-align center
            z-index 3
            p
                font-size: 7.76236px;
                line-height: 12px;
        &__item-abs-3
            font-size: 8.15782px;
            line-height: 11px;
            top: 5%
            left 63%
            width: 110px
            padding: 6px 12px
            transform: rotate(-5deg)
            z-index 4
            p
                font-size: 6.27524px;
                line-height: 9px;
        &__item-abs-4
            font-size: 9.9235px;
            line-height: 14px;
            top: 79%;
            left: 8%;
            max-width: 138px
            padding: 8px 17px
            transform: rotate(-3deg)
            z-index 4
            p
                font-size: 7.63347px;
                line-height: 11px;
        &__item-abs-5
            font-size: 10.3388px;
            line-height: 14px;
            top: 90%;
            left: 33%;
            transform: rotate(2deg)
            max-width: 142px
            padding: 8px 17px
            z-index 3
            p
                font-size: 7.95292px;
                line-height: 12px;
        &__item-abs-6
            font-size: 9.61548px;
            line-height: 13px;
            top: 86%
            left 63%
            transform: rotate(7deg);
            width: 131px
            padding: 7px 17px
            z-index 2
            p
                font-size: 7.39652px;
                line-height: 11px;
    .header
        padding-top 30px
        padding-bottom: 60px
        &--active
            padding: 0
    .conversation__pic-1
        position absolute
        top: 20px;
        left: 80px;
        max-width: 34px
    .conversation__pic-2
        position absolute
        top: 50px;
        left: 122px;
        max-width: 22px
    .conversation__pic-3
        position absolute
        top: 163px;
        left: 174px;
        width: 24px
    .conversation__pic-4
        position absolute
        top: 197px;
        left: 52px;
        max-width: 49px
    .community__pic-right, .community__pic-left
        width: 315px;
        height: 164px;

    .start__pic
        display none
        &-mobile
            display block
            margin: auto
            max-width: 375px
    .feedback
        margin-bottom 50px
    .community__container::-webkit-scrollbar 
        display: none;
    .community__container
        height: 125px
        overflow: auto
    .community__team:not(:last-of-type) 
        margin-right: 100px;

    .community__team
        width: 70px
    .community__container-inner
        width: 770px
        justify-content: left
        margin-left 50px
    .community__team::after
        padding: 5px 8px
    .community__team:nth-child(1):after
        visibility: visible
        opacity 1
        font-size: 12px;
        line-height: 20px;
        top: 90%;
        left: -35%;
        width: 115px;
        border-radius: 19.125px;
        text-align: center;
    .community__team:nth-child(2):after
        top: 90%;
        left: -67%;
        visibility: visible
        opacity 1
        font-size: 12px;
        line-height: 20px;
        border-radius: 19.125px;
        width: 160px
        text-align center
        
    .community__team:nth-child(3):after
        visibility: visible
        opacity 1
        font-size: 12px;
        line-height: 20px;
        border-radius: 19.125px;
        top: 90%;
        left: -45%;
        width: 130px;
        text-align: center;
    .community__team:nth-child(4):after
        visibility: visible
        opacity 1
        font-size: 12px;
        line-height: 20px;
        border-radius: 19.125px;
        top: 90%;
        left: -60%;
        width: 155px;
        text-align center
    .community__team:nth-child(5):after
        visibility: visible
        opacity 1
        font-size: 12px;
        line-height: 20px;
        border-radius: 19.125px;
        top: 90%;
        left: -5%;
        width: 80px;
        text-align center
    .community__crown
        margin: 60px auto 0
    .community__desc
        font-size: 16px;
        line-height: 24px;
    .feedback
        margin-bottom 71px
    .feedback__item
        width: 265px
        margin-right 10px
        margin-left 10px
    .community__pic
        display none
        &-mobile
            display block
            margin: auto
            width: 492px;
            position: relative;
            left: -70px;
            top: -40px;
    .start
        margin-bottom 60px
    .conversation__left
        margin-top 300px
    .conversation__desc
        font-size: 16px;
        line-height: 26px;
        max-width 300px
    .conversation__title
        font-size: 24px;
        line-height: 30px;
        margin-bottom 10px
        max-width: 240px
    .conversation__pic
        left: -50px
        max-width: 320px
    .light__title
        font-size: 24px;
        line-height: 30px;
    .light__top-line, .light__bottom-line, .community__arrow
        margin: 30px auto 33px
    .corp__title
        font-size: 24px;
        line-height: 30px;
        margin-bottom 10px
        max-width: 300px
    .corp__desc
        font-size: 16px;
        line-height: 26px;
        text-align: center;
    .slider
        height: 100px
        &__item
            height: 100px
            width: 100px
            &-abs
                font-size 12px
                line-height 18px
    .community__container-bottom
        margin-bottom 60px
    .community__pic-right
        margin-bottom 20px
    .slider2
        height: 100px

    .hero__pic-1
        max-width: 195px
        top: -10px;
        left: 285px;
    .footer__title
        font-size: 16px;
        line-height: 26px;
    .footer__desc, .footer__email, .footer__copyright
        font-size: 16px;
        line-height: 26px;

    .footer__list
        font-size: 16px;
        line-height: 40px;
    
    .hero__pic-2
        left: 225px;
        max-width: 139px;
        top: 160px;
    .hero__pic-3
        left: 250px
        max-width: 101px
        

    .hero__pic
        left: -50px;
    .hero__title
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        color: #FFFFFF;
        padding-left 45px
    .hero__container
        margin: 0 auto 172px;
    .hero__line
        margin-bottom 30px
    .hero__button
        width: 315px
        left: 50%;
        transform: translateX(-50%);
        top: 75px
    .hero__left
        width: 100%
        bottom:40px
    .hero__right
        width: 0
        position: static
    .hero__desc
        max-width: auto
        font-size: 16px;
        line-height: 26px;
    .hero__social
        position: absolute
        top 455px
        left 50%
        transform: translateX(-50%)
        width: 210px
        align-items: center
        
        
    .hero__social-pic
        align-self: center
        max-width: 160px
        margin-bottom 0
    .hero__social-pic-inner:nth-of-type(1)
        left: 16%;
    .hero__social-pic-inner:nth-of-type(2)
        left: 6%;
    .hero__social-pic-inner:nth-of-type(3)
        left: -4%;
    .hero__social-pic-inner:nth-of-type(4)
        left: -14%;
        

// /* Custom, iPhone Retina */
@media (max-width : 390px)
    .start__item-abs-6
        top: 84%
    .community__pic
        left: -60px
    .hero__pic-1
        left: 275px
    .hero__pic-2
        left: 215px
    .hero__pic-3
        left: 240px
    .hero__title
        padding-left 25px
@media (max-width : 375px)
    .start__item-abs-6
        top: 82%
    .community__pic
        left: -60px
    .hero__pic-1
        left: 255px
    .hero__pic-2
        left: 195px
    .hero__pic-3
        left: 220px
    .hero__title
        padding-left 15px

@media (max-width : 320px)
    .mobile__list-link
        font-size 18px
    .start__item-outer
        height 270px
    .start__item-abs-5
        top: 92%
    .start__item-abs-2
        top: -8%
        left: 24%
    .start__item-abs-1
        left: -3%
    .start__item
        padding: 62px 0 65px
    .start__item-abs-4
        left: 0%
    .community__crown
        background: url(../img/main/background-phone.svg) 0 0/100% 100%;
    .community__pic
        left: -60px
    .hero__pic-1
        left: 215px;
        width: 155px;
        top: 50px;
    .hero__pic-2
        left: 145px
    .hero__pic-3
        left: 200px;
        width: 70px;
        top: 50px;
        
    .hero__title
        padding-left 5px
    .conversation__pic
        width: 460px
        left: -70px
     .conversation__pic-1
        position absolute
        top: 20px;
        left: 70px;
        max-width: 34px
    .conversation__pic-2
        position absolute
        top: 50px;
        left: 112px;
        max-width: 22px
    .conversation__pic-3
        position absolute
        top: 163px;
        left: 154px;
        width: 24px
    .conversation__pic-4
        position absolute
        top: 197px;
        left: 32px;
        max-width: 49px
    .community__pic-mobile
        left: -100px
        
